*{
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./universer.gif);
    color: white;
   
   
}
header{    
    margin-top: 1%;
    margin-left: 10%;
    width: 180vh;
    height: 20vh;
    background-color: rgb(21, 11, 112);
}

form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.titulo{
    font-family: 'Dela Gothic One', cursive;
    font-size: 3em;
    text-align: center;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
  
}

.conteudo{
    display: flex;   
    flex-direction: row;
    margin-top: 5%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    margin-block-end: 5%;
}


img{
    width: 90vh;
}

p{
    display: block;
    width: 90vh;
    padding: 10px;
    background-color: rgba(8, 8, 8, 0.199);
    border-radius: 10px;
    
    
   
}
.descricao{
    display: none;
    margin: 10px;
    
    
}


h2{ 
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-block-end:2%;   
    text-transform: uppercase;
}

.date { 
    font-size: 1.2em;
    padding: 10px;
    height: 5vh;
    margin-left: 10%;
    margin-top: 1%;    
}

h5{
    font-size: 1.7em;
    margin-top: 1%;
    margin-left: 25%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

button{  
    padding: 7px;
    width: 50px;
    margin-top: 1%;
    margin-left: 2%;
    
}




