*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./universer.gif);
    color: white;
   
   
}
header{    
    margin-top: 1%;
    margin-left: 10%;
    width: 180vh;
    height: 20vh;
    background-color: rgb(21, 11, 112);
}
.conteudo{
    display: flex;
    
}
form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.titulo{
    font-family: 'Dela Gothic One', cursive;
    font-size: 3em;
    text-align: center;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
  
}

.conteudo{
    display: flex;   
    flex-direction: row;
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content: space-around;
}


img{
    width: 90vh;
}

p{
    width: 70vh;
    height: 65vh ;
    background-color: rgba(245, 233, 233, 0.096);
   
}
.descricao{
    display: none;
}


h2{ 
    color: white;
    margin-left: 30%;
    margin-block-end:2%;   
}

.date { 
    font-size: 1.2em;
    padding: 10px;
    height: 5vh;
    margin-left: 10%;
    margin-top: 1%;    
}

h5{
    font-size: 1.7em;
    margin-top: 1%;
    margin-left: 25%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

button{  
    padding: 7px;
    width: 50px;
    margin-top: 1%;
    margin-left: 2%;
    
}
